<!DOCTYPE html>
<html>
<head>
	<title>Client</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<script src="js/vue.global.js"></script>
</head>
<body >
	<div id="app">
		<img id="logo" src="https://media.istockphoto.com/id/1083622428/es/vector/icono-de-aparcamiento-de-coche.jpg?s=612x612&w=0&k=20&c=XNtE9FbFoCi4Pop_S63HY9VujXx4dvJWTKVvit9g0f4=" alt="Logo">
		<h1>Parqueadero de vehiculos </h1>

		<button @click="getCarsFromServer()">Listar vehiculos registrados</button>
		<table class="table">
			<thead>
			  <tr>
				<th scope="col">Foto</th>
				<th scope="col">Placa</th>
				<th scope="col">Color</th>
				<th scope="col">Hora de registro</th>
			  </tr>
			</thead>
			<tbody>
			  <tr v-for="item in totalDonations">
				<th><img :src="item.photo"></th>
				<td>{{ item.license_plate }}</td>
				<td>{{ item.color }}</td>
				<td>{{ item.time }}</td>
			  </tr>
			</tbody>
		  </table>

		<!--<h1 id="total">Total donacion: ${{totalDonations}}</h1>-->
		

		<h1>Registrar un vehiculo</h1>
		<input type="text" name="photo" v-model="photo">
		<input type="text" name="license_plate" v-model="license_plate">
		<input type="text" name="color" v-model="color">
		<button @click="sendCarData()">Send</button>
		<p>{{message}}</p>

		<h1> Retirar vehiculo por placa</h1>
		<input type="text" name="license_delete" v-model="license_delete">
		<button @click="retireCar()">Retirar</button>
		<p>{{message1}}</p>

	</div>
	<script src="js/client.js"></script>
</body>
</html>